@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
--yellow: hsl(47, 88%, 63%);
--white: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 50%);
--black: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
}

main{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1.6rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 8px 8px 1px var(--black);
    border: 2px solid var(--black);
    transition: .3s ease-in-out;
}

.hero{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 800;
}

.hero img{
   width: 10%;
}

.gray-text{
    color: var(--grey);
    line-height: 1.5;
}

main img{
 border-radius: .6rem;
}

h1{
    font-size: 1.6rem;
}

span{
    border-radius: .4rem;
    background-color: var(--yellow);
    padding: .4rem;
    font-weight: 800;
}

/*Hover*/

h1:hover{
    color: var(--yellow);
    cursor: pointer;
}

main:has(h1:hover){
    box-shadow: 16px 16px 1px var(--black);
}

/*Responsive*/

@media screen and (max-width:450px) {
    body{
        margin: 0 1rem;
    }
    main{
       max-width: 330px;
       padding: .6rem;
    }
}